<!DOCTYPE HTML>
<html>
	<head>
		<title>Anime</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<div id="wrapper">

					<header id="header">
						<div class="logo">
							<i class="fa fa-book-open fa-2x" style="line-height: inherit"></i>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Anime</h1>
								<p>好油喔</p>
							</div>
						</div>
						<nav>
							<ul>
                <li><a href="#about">about</a></li>
								<li><a href="#userInfo">user info</a></li>
								<li><a href="#comment">comment</a></li>
                <li><a href="#search">search</a></li>
                <li><a href="#signOut">sign out</a></li>
							</ul>
						</nav>
					</header>

					<div id="main">

							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
								<p>好油喔</p>
							</article>

							<article id="userInfo">
								<h2 class="major">user info</h2>
								<div class="table-wrapper">
									<table class="alt">
										<tbody>
						            	<tr><td>user</td><td><%=password[0].user%></td></tr>
													<tr><td>password</td><td><%=password[0].password%></td></tr>
													<tr><td>gender</td><td><%=user[0].gender%></td></tr>
													<tr><td>birth date</td><td><%=user[0].birth_date.substr(0,10)%></td></tr>
													<tr><td>watching</td><td><%=user[0].user_watching%></td></tr>
													<tr><td>completed</td><td><%=user[0].user_completed%></td></tr>
													<tr><td>onhold</td><td><%=user[0].user_onhold%></td></tr>
													<tr><td>dropped</td><td><%=user[0].user_dropped%></td></tr>
													<tr><td>plantowatch</td><td><%=user[0].user_plantowatch%></td></tr>
													<tr><td>mean score</td><td><%=user[0].stats_mean_score%></td></tr>
													<tr><td>episodes</td><td><%=user[0].stats_episodes%></td></tr>
										</tbody>
									</table>
								</div>
							</article>

							<article id="comment">
								<h2 class="major">comment</h2>
								<ul class="actions">
									<li><a href="#add_comment_1" class="button">add comment</a></li>
									<%if(errorType==1){%>
										<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">comment exist</label></li>
									<%}%>
								</ul>
								<h3 class="major">comment list</h3>
								<%if(comment.length==0){%>
									<p>no comment</p>
								<%}else{%>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr><th>anime name</th><th>episodes</th><th>score</th><th>status</th></tr>
											</thead>
											<tbody>
												<%for(var i=0;i<comment.length;i++){%>
													<%var url="#edit_comment_"+comment[i].anime_id%>
											    <tr>
														<td><a href=<%=url%>><%=comment[i].anime_name%></a></td>
														<td><a href=<%=url%>><%=comment[i].episodes%></a></td>
														<td><a href=<%=url%>><%=comment[i].score%></a></td>
														<%if(comment[i].status==1){%>
															<td><a href=<%=url%>>Currently Watching</a></td>
														<%}else if(comment[i].status==2){%>
															<td><a href=<%=url%>>Completed</a></td>
														<%}else if(comment[i].status==3){%>
															<td><a href=<%=url%>>On Hold</a></td>
														<%}else if(comment[i].status==4){%>
															<td><a href=<%=url%>>Dropped</a></td>
														<%}else if(comment[i].status==6){%>
															<td><a href=<%=url%>>Plan to Watch</a></td>
														<%}%>
													</tr>
												<%}%>
											</tbody>
										</table>
									</div>
								<%}%>
							</article>

							<article id="add_comment_1">
								<h2 class="major">anime list</h2>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr><th>Anime List</th></tr>
										</thead>
										<tbody>
											<%for(var i=0;i<anime.length;i++){%>
												<%var url="#add_comment_2_"+anime[i].id%>
						            <tr><td><a href=<%=url%>><%=anime[i].name%></a></td></tr>
					            <%}%>
										</tbody>
									</table>
								</div>
							</article>

							<%for(var i=0;i<100;i++){%>
								<%var id="add_comment_2_"+anime[i].id%>
								<article id=<%=id%>>
									<form name="register" method="post" action="/apis/add_comment" autocomplete="off">
										<div class="fields">
											<div class="field half">
		                    <label for="anime_name">anime name</label>
													<input type="text" name="anime_name" value=<%=anime[i].name%> id="anime_name">
											</div>
										</div>
										<div class="fields">
											<div class="field half">
		                    <label for="anime_id">anime id</label>
												<input type="text" name="anime_id" value=<%=anime[i].id%> id="anime_id">
											</div>
										</div>
										<div class="fields">
											<div class="field half">
												<label for="episodes">episodes</label>
												<input type='text' name='episodes' placeholder='episodes' id="episodes">
											</div>
										</div>
										<div class="fields">
											<div class="field half">
												<label for="status">status</label>
												<select name="status" id="status">
													<option value="1">Currently Watching</option>
													<option value="2">Completed</option>
													<option value="3">On Hold</option>
													<option value="6">Plan to Watch</option>
												</select>
											</div>
										</div>
										<div class="fields">
											<div class="field half">
												<label for="score">score(0~10)</label>
												<input type='text' name='score' placeholder='score' id="score">
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" name='submit' value='comment' class="primary"></li>
											<li><input type="reset" value="Reset"></li>
											<%if(errorType==0){%>
												<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
											<%}%>
										</ul>
									</form>
								</article>
							<%}%>

							<%for(var i=0;i<comment.length;i++){%>
								<%var id="edit_comment_"+comment[i].anime_id%>
								<article id=<%=id%>>
									<form name="update" id="update" method="post" action="/apis/edit_comment" autocomplete="off">
										<div class="fields">
											<div class="field half">
	                      <label for="anime_name">anime name</label>
	                      <input type="text" name="anime_name" value=<%=comment[i].anime_name%> id="anime_name">
											</div>
											<div class="field half">
	                      <label for="episodes">episodes</label>
	                      <input type='text' name='episodes' value=<%=comment[i].episodes%> id="episodes">
											</div>
										</div>
										<div class="fields">
											<div class="field half">
	                      <label for="score">score</label>
	                      <input type="text" name="score" value=<%=comment[i].score%> id="score">
											</div>
											<div class="field half">
												<label for="status">status</label>
												<select name="status" id="status">
													<option value="1"<%if(comment[i].status==1){%>selected<%}%>>Currently Watching</option>
													<option value="2"<%if(comment[i].status==2){%>selected<%}%>>Completed</option>
													<option value="3"<%if(comment[i].status==3){%>selected<%}%>>On Hold</option>
													<option value="4"<%if(comment[i].status==4){%>selected<%}%>>Dropped</option>
													<option value="6"<%if(comment[i].status==6){%>selected<%}%>>Plan to Watch</option>
												</select>
												<input type='hidden' name='username' value=<%=comment[i].username%> id="username">
												<input type='hidden' name='anime_id' value=<%=comment[i].anime_id%> id="anime_id">
												<input type='hidden' name='episodes_o' value=<%=comment[i].episodes%> id="episodes_o">
												<input type='hidden' name='score_o' value=<%=comment[i].score%> id="score_o">
												<input type='hidden' name='status_o' value=<%=comment[i].status%> id="status_o">
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" name='submit' value='edit' class="primary"></li>
											<li><input type="submit" name='submit' value='delete'></li>
											<li><input type="reset" value="Reset"></li>
										</ul>
									</form>
								</article>
							<%}%>

							<article id="search">
								<h2 class="major">search</h2>
								<a href="/test#test">test</a>
							</article>

              <article id="signOut">
								<h2 class="major">sign out</h2>
                <p>Are you sure?</p>
                <form name="signIn" method="post" action="/apis/signOut" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" name='yes' value='Yes' class="primary"></li>
                    <li><input type="submit" name='no' value='No'></li>
									</ul>
								</form>
							</article>

					</div>
          <footer id="footer">
            <article id="recommendation" style="margin-top: 35rem;">
							<h2 class="major">recommendation</h2>
              <ul class="actions">
                <li><a href="#" class="button">main page</a></li>
              </ul>
							<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
						</article>
          </footer>

			</div>

			<div id="bg"></div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
