<!DOCTYPE HTML>
<html>
	<head>
		<title>Anime</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<div id="wrapper">

					<header id="header">
						<div class="logo">
							<i class="fa fa-photo-video fa-2x" style="line-height: inherit"></i>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Anime</h1>
								<p>好油喔</p>
							</div>
						</div>
						<nav>
							<ul>
                <li><a href="#about">about</a></li>
								<li><a href="#userInfo">user info</a></li>
								<li><a href="#comment">comment</a></li>
                <li><a href="#search">search</a></li>
                <li><a href="#signOut">sign out</a></li>
							</ul>
						</nav>
					</header>

					<div id="main">

							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="images/duck1.gif" alt="" /></span>
								<ul class="icons">
									<li><p>呱呱呱</p></li>
									<li><a href="https://github.com/Leo05438/DB_Final_Project" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

							<article id="userInfo">
								<h2 class="major">user info</h2>
								<div class="table-wrapper">
									<table class="alt">
										<tbody>
				            	<tr><td>user</td><td><%=password[0].user%></td></tr>
											<tr><td>password</td><td><%=password[0].password%></td></tr>
											<tr><td>gender</td><td><%=user[0].gender%></td></tr>
											<tr><td>birth date</td><td><%=user[0].birth_date.substr(0,10)%></td></tr>
											<tr><td>watching</td><td><%=user[0].user_watching%></td></tr>
											<tr><td>completed</td><td><%=user[0].user_completed%></td></tr>
											<tr><td>onhold</td><td><%=user[0].user_onhold%></td></tr>
											<tr><td>dropped</td><td><%=user[0].user_dropped%></td></tr>
											<tr><td>plantowatch</td><td><%=user[0].user_plantowatch%></td></tr>
											<tr><td>mean score</td><td><%=user[0].stats_mean_score%></td></tr>
											<tr><td>episodes</td><td><%=user[0].stats_episodes%></td></tr>
										</tbody>
									</table>
								</div>
							</article>

							<article id="comment">
								<h2 class="major">comment</h2>
								<ul class="actions">
									<li><a href="#add_comment_1" class="button">add comment</a></li>
									<%if(errorType==1){%>
										<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">comment exist</label></li>
									<%}%>
								</ul>
								<h3 class="major">comment list</h3>
								<%if(comment.length==0){%>
									<p>no comment</p>
								<%}else{%>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr><th>anime name</th><th>episodes</th><th>score</th><th>status</th></tr>
											</thead>
											<tbody>
												<%for(var i=0;i<comment.length;i++){%>
													<%var url="#edit_comment_"+comment[i].anime_id%>
											    <tr>
														<td><a href=<%=url%>><%=comment[i].anime_name%></a></td>
														<td><a href=<%=url%>><%=comment[i].episodes%></a></td>
														<td><a href=<%=url%>><%=comment[i].score%></a></td>
														<%if(comment[i].status==1){%>
															<td><a href=<%=url%>>Currently Watching</a></td>
														<%}else if(comment[i].status==2){%>
															<td><a href=<%=url%>>Completed</a></td>
														<%}else if(comment[i].status==3){%>
															<td><a href=<%=url%>>On Hold</a></td>
														<%}else if(comment[i].status==4){%>
															<td><a href=<%=url%>>Dropped</a></td>
														<%}else if(comment[i].status==6){%>
															<td><a href=<%=url%>>Plan to Watch</a></td>
														<%}%>
													</tr>
												<%}%>
											</tbody>
										</table>
									</div>
								<%}%>
							</article>

							<article id="add_comment_1">
								<h2 class="major">anime list</h2>
								<ul class="actions">
	                <li><a href="#comment" class="button">back</a></li>
	              </ul>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr><th>Anime List</th></tr>
										</thead>
										<tbody>
											<%for(var i=0;i<100;i++){%>
												<%var url="#add_comment_2_"+anime[i].id%>
						            <tr><td><a href=<%=url%>><%=anime[i].name%></a></td></tr>
					            <%}%>
										</tbody>
									</table>
								</div>
							</article>

							<%for(var i=0;i<100;i++){%>
								<%var id="add_comment_2_"+anime[i].id%>
								<article id=<%=id%>>
									<form name="register" method="post" action="/apis/add_comment" autocomplete="off">
										<div class="fields">
											<div class="field half">
		                    <label for="anime_name">anime name</label>
													<input type="hidden" name="anime_name" value="<%=anime[i].name%>" id="anime_name">
													<input type="hidden" name="anime_id" value=<%=anime[i].id%> id="anime_id">
													<input type="text" name="dis" value="<%=anime[i].name%>" id="anime_name_dis" disabled>
											</div>
										</div>
										<div class="fields">
											<div class="field half">
												<label for="episodes">episodes</label>
												<input type='text' name='episodes' placeholder='episodes' id="episodes">
											</div>
										</div>
										<div class="fields">
											<div class="field half">
												<label for="status">status</label>
												<select name="status" id="status">
													<option value="1">Currently Watching</option>
													<option value="2">Completed</option>
													<option value="3">On Hold</option>
													<option value="6">Plan to Watch</option>
												</select>
											</div>
										</div>
										<div class="fields">
											<div class="field half">
												<label for="score">score(0~10)</label>
												<input type='text' name='score' placeholder='score' id="score">
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" name='submit' value='comment' class="primary"></li>
											<li><input type="reset" value="Reset"></li>
											<li><a href="#add_comment_1" class="button">back</a></li>
											<%if(errorType==0){%>
												<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
											<%}%>
										</ul>
									</form>
								</article>
							<%}%>

							<%for(var i=0;i<comment.length;i++){%>
								<%var id="edit_comment_"+comment[i].anime_id%>
								<article id=<%=id%>>
									<form name="update" id="update" method="post" action="/apis/edit_comment" autocomplete="off">
										<div class="fields">
											<div class="field half">
	                      <label for="anime_name">anime name</label>
	                      <input type="hidden" name="anime_name" value="<%=comment[i].anime_name%>" id="anime_name">
												<input type="text" name="dis" value="<%=comment[i].anime_name%>" id="anime_name_dis" disabled>
											</div>
											<div class="field half">
	                      <label for="episodes">episodes</label>
	                      <input type='text' name='episodes' value=<%=comment[i].episodes%> id="episodes">
											</div>
										</div>
										<div class="fields">
											<div class="field half">
	                      <label for="score">score</label>
	                      <input type="text" name="score" value=<%=comment[i].score%> id="score">
											</div>
											<div class="field half">
												<label for="status">status</label>
												<select name="status" id="status">
													<option value="1"<%if(comment[i].status==1){%>selected<%}%>>Currently Watching</option>
													<option value="2"<%if(comment[i].status==2){%>selected<%}%>>Completed</option>
													<option value="3"<%if(comment[i].status==3){%>selected<%}%>>On Hold</option>
													<option value="4"<%if(comment[i].status==4){%>selected<%}%>>Dropped</option>
													<option value="6"<%if(comment[i].status==6){%>selected<%}%>>Plan to Watch</option>
												</select>
												<input type='hidden' name='username' value=<%=comment[i].username%> id="username">
												<input type='hidden' name='anime_id' value=<%=comment[i].anime_id%> id="anime_id">
												<input type='hidden' name='episodes_o' value=<%=comment[i].episodes%> id="episodes_o">
												<input type='hidden' name='score_o' value=<%=comment[i].score%> id="score_o">
												<input type='hidden' name='status_o' value=<%=comment[i].status%> id="status_o">
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" name='submit' value='edit' class="primary"></li>
											<li><input type="submit" name='submit' value='delete'></li>
											<li><input type="reset" value="Reset"></li>
											<li><a href="#comment" class="button">back</a></li>
											<%if(errorType==2){%>
												<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
											<%}%>
										</ul>
									</form>
								</article>
							<%}%>

							<article id="search">
								<h2 class="major">search</h2>
								<h3 class="major">類別</h3>
								<p><a href="#s1">排出不同類別的平均分數最高</a></p>
								<p><a href="#s2">選出綜合分數Top100哪個類別比例最高</a></p>
								<hr>
								<h3 class="major">性別</h3>
								<p><a href="#s3">不同性別喜歡不同類別的人數</a></p>
								<p><a href="#s4">不同性別打的平均分數</a></p>
								<hr>
								<h3 class="major">年齡</h3>
								<p><a href="#s5">各年齡層的類別排名</a></p>
								<p><a href="#s6">各年齡層的平均分數</a></p>
								<p><a href="#s7">列出平均分數 &lt;= K 的動畫跟觀眾的平均年齡</a></p>
								<p><a href="#s8">給定一部動畫，計算他在某年齡層的平均分數</a></p>
								<hr>
								<h3 class="major">動畫集數</h3>
								<p><a href="#s9">某集數分數前100名</a></p>
								<p><a href="#s10">計算季番(10<=集數<=14)與半年番與年番的平均分數</a></p>
								<hr>
								<h3 class="major">年分</h3>
								<p><a href="#s11">某年代分數前10名</a></p>
								<p><a href="#s12">比較舊番與新番的平均分數</a></p>
								<p><a href="#s13">給定年分與季節，輸出前十名的當季動畫</a></p>
								<hr>
								<h3 class="major">工作室</h3>
								<p><a href="#s14">不同工作室的平均分數排名</a></p>
								<hr>
								<h3 class="major">主題曲</h3>
								<p><a href="#s15">給定歌手名字，搜尋有他唱的OP/ED的動畫</a></p>
								<hr>
								<h3 class="major">其他</h3>
								<p><a href="#s16">算出高分群、中分群、低分群人數，用高分群分數-低分群分數，絕對值&gt;X就稱其為褒貶不一</a></p>
								<p><a href="#s17">算出高分群、中分群、低分群人數，用人數計算所占比例，依照高分群人數-低分群人數的大小排序</a></p>
								<p><a href="#s18">選出年齡>18而且評高分的動畫年分&lt;=2012的比例佔其全部動畫比例的5成，我們稱這種人為舊番愛好者，檢查這些人對於年分&gt;=2017的動畫的平均分數(目前只選出那些人的平均)</a></p>
								<p><a href="#s19">通常原創的平均分數會&lt;漫改or輕改，列出那些原創動畫，他們的分數&gt;漫輕改平均X分以上</a></p>
								<p><a href="#s20">A與B的相關係數</a></p>
								<p><a href="#s21">我們將使用者的極端值，用Completed數(感覺可以多考慮dropped率)作為切分依據，然後對於某一部動畫，我們將這些人的評價篩選掉，重新計算分數作為校正分數</a></p>
								<p><a href="#s22">看每季(年?)某工作室的作品產量，比較產量多與少的時期的平均分數，驗證是否做的多品質就會下滑</a></p>
								<p><a href="#s23">Score高分但dropped rate高?</a></p>
								<h3 class="major">for fun</h3>
								<p><a href="#s24">涼宮春日真的引領了輕改動畫風潮嗎?</a></p>
								<p><a href="#s25">J.C. staff的評價真的那麼糟嗎?</a></p>
								<p><a href="#s26">列出J.C. staff各年評價最好的動畫</a></p>
								<p><a href="#s27">EVA真的是20世紀的最強動畫嗎?</a></p>
							</article>

							<article id="s1">
								<h2 class="major">排出不同類別的平均分數最高</h2>
								<form name="s1" method="post" action="/apis/s1" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="genre">genre</label>
											<select name="genre" id="genre">
												<option value="">-</option>
												<option value="Action">Action</option>
												<option value="Adventure">Adventure</option>
												<option value="Cars">Cars</option>
												<option value="Comedy">Comedy</option>
												<option value="Dementia">Dementia</option>
												<option value="Demons">Demons</option>
												<option value="Drama">Drama</option>
												<option value="Ecchi">Ecchi</option>
												<option value="Fantasy">Fantasy</option>
												<option value="Game">Game</option>
												<option value="Harem">Harem</option>
												<option value="Hentai">Hentai</option>
												<option value="Historical">Historical</option>
												<option value="Horror">Horror</option>
												<option value="Josei">Josei</option>
												<option value="Kids">Kids</option>
												<option value="Magic">Magic</option>
												<option value="Martial Arts">Martial Arts</option>
												<option value="Mecha">Mecha</option>
												<option value="Military">Military</option>
												<option value="Music">Music</option>
												<option value="Mystery">Mystery</option>
												<option value="Parody">Parody</option>
												<option value="Police">Police</option>
												<option value="Psychological">Psychological</option>
												<option value="Romance">Romance</option>
												<option value="Samurai">Samurai</option>
												<option value="School">School</option>
												<option value="Sci-Fi">Sci-Fi</option>
												<option value="Seinen">Seinen</option>
												<option value="Shoujo">Shoujo</option>
												<option value="Shoujo Ai">Shoujo Ai</option>
												<option value="Shounen">Shounen</option>
												<option value="Shounen Ai">Shounen Ai</option>
												<option value="Slice of Life">Slice of Life</option>
												<option value="Space">Space</option>
												<option value="Sports">Sports</option>
												<option value="Super Power">Super Power</option>
												<option value="Supernatural">Supernatural</option>
												<option value="Thriller">Thriller</option>
												<option value="Vampire">Vampire</option>
												<option value="Yaoi">Yaoi</option>
												<option value="Yuri">Yuri</option>
											</select>
										</div>
										<div class="field half">
                      <label for="number">number of animes</label>
                      <input type="text" name="number" placeholder="number" id="number">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==3){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s2">
								<h2 class="major">選出綜合分數Top100哪個類別比例最高</h2>
								<form name="s2" method="post" action="/apis/s2" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s3">
								<h2 class="major">不同性別喜歡不同類別的人數</h2>
								<form name="s3" method="post" action="/apis/s3" autocomplete="off">
									<div class="fields">
										<div class="field half">
											<label for="gender">gender</label>
											<select name="gender" id="gender">
												<option value="male">male</option>
												<option value="female">female</option>
											</select>
										</div>
										<div class="field half">
											<label for="genre">genre</label>
											<select name="genre" id="genre">
												<option value="">-</option>
												<option value="Action">Action</option>
												<option value="Adventure">Adventure</option>
												<option value="Cars">Cars</option>
												<option value="Comedy">Comedy</option>
												<option value="Dementia">Dementia</option>
												<option value="Demons">Demons</option>
												<option value="Drama">Drama</option>
												<option value="Ecchi">Ecchi</option>
												<option value="Fantasy">Fantasy</option>
												<option value="Game">Game</option>
												<option value="Harem">Harem</option>
												<option value="Hentai">Hentai</option>
												<option value="Historical">Historical</option>
												<option value="Horror">Horror</option>
												<option value="Josei">Josei</option>
												<option value="Kids">Kids</option>
												<option value="Magic">Magic</option>
												<option value="Martial Arts">Martial Arts</option>
												<option value="Mecha">Mecha</option>
												<option value="Military">Military</option>
												<option value="Music">Music</option>
												<option value="Mystery">Mystery</option>
												<option value="Parody">Parody</option>
												<option value="Police">Police</option>
												<option value="Psychological">Psychological</option>
												<option value="Romance">Romance</option>
												<option value="Samurai">Samurai</option>
												<option value="School">School</option>
												<option value="Sci-Fi">Sci-Fi</option>
												<option value="Seinen">Seinen</option>
												<option value="Shoujo">Shoujo</option>
												<option value="Shoujo Ai">Shoujo Ai</option>
												<option value="Shounen">Shounen</option>
												<option value="Shounen Ai">Shounen Ai</option>
												<option value="Slice of Life">Slice of Life</option>
												<option value="Space">Space</option>
												<option value="Sports">Sports</option>
												<option value="Super Power">Super Power</option>
												<option value="Supernatural">Supernatural</option>
												<option value="Thriller">Thriller</option>
												<option value="Vampire">Vampire</option>
												<option value="Yaoi">Yaoi</option>
												<option value="Yuri">Yuri</option>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==5){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s4">
								<h2 class="major">不同性別打的平均分數</h2>
								<form name="s4" method="post" action="/apis/s4" autocomplete="off">
									<div class="fields">
										<div class="field half">
											<label for="gender">gender</label>
											<select name="gender" id="gender">
												<option value="male">male</option>
												<option value="female">female</option>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==6){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s5">
								<h2 class="major">各年齡層的類別排名</h2>
								<form name="s5" method="post" action="/apis/s5" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="first">lower bound</label>
                      <input type="text" name="first" placeholder="lower bound" id="first">
										</div>
										<div class="field half">
                      <label for="second">upper bound</label>
                      <input type="text" name="second" placeholder="upper bound" id="second">
										</div>
									</div>
									<div class="fields">
										<div class="field half">
											<label for="genre">genre</label>
											<select name="genre" id="genre">
												<option value="">-</option>
												<option value="Action">Action</option>
												<option value="Adventure">Adventure</option>
												<option value="Cars">Cars</option>
												<option value="Comedy">Comedy</option>
												<option value="Dementia">Dementia</option>
												<option value="Demons">Demons</option>
												<option value="Drama">Drama</option>
												<option value="Ecchi">Ecchi</option>
												<option value="Fantasy">Fantasy</option>
												<option value="Game">Game</option>
												<option value="Harem">Harem</option>
												<option value="Hentai">Hentai</option>
												<option value="Historical">Historical</option>
												<option value="Horror">Horror</option>
												<option value="Josei">Josei</option>
												<option value="Kids">Kids</option>
												<option value="Magic">Magic</option>
												<option value="Martial Arts">Martial Arts</option>
												<option value="Mecha">Mecha</option>
												<option value="Military">Military</option>
												<option value="Music">Music</option>
												<option value="Mystery">Mystery</option>
												<option value="Parody">Parody</option>
												<option value="Police">Police</option>
												<option value="Psychological">Psychological</option>
												<option value="Romance">Romance</option>
												<option value="Samurai">Samurai</option>
												<option value="School">School</option>
												<option value="Sci-Fi">Sci-Fi</option>
												<option value="Seinen">Seinen</option>
												<option value="Shoujo">Shoujo</option>
												<option value="Shoujo Ai">Shoujo Ai</option>
												<option value="Shounen">Shounen</option>
												<option value="Shounen Ai">Shounen Ai</option>
												<option value="Slice of Life">Slice of Life</option>
												<option value="Space">Space</option>
												<option value="Sports">Sports</option>
												<option value="Super Power">Super Power</option>
												<option value="Supernatural">Supernatural</option>
												<option value="Thriller">Thriller</option>
												<option value="Vampire">Vampire</option>
												<option value="Yaoi">Yaoi</option>
												<option value="Yuri">Yuri</option>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==7){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s6">
								<h2 class="major">各年齡層的平均分數</h2>
								<form name="s6" method="post" action="/apis/s6" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="first">lower bound</label>
                      <input type="text" name="first" placeholder="lower bound" id="first">
										</div>
										<div class="field half">
                      <label for="second">upper bound</label>
                      <input type="text" name="second" placeholder="upper bound" id="second">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==8){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s7">
								<h3 class="major">列出平均分數 &lt;= K 的動畫跟觀眾的平均年齡</h3>
								<form name="s7" method="post" action="/apis/s7" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="score">K</label>
                      <input type="text" name="score" placeholder="K" id="score">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==9){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s8">
								<h3 class="major">給定一部動畫，計算他在某年齡層的平均分數</h3>
								<form name="s8" method="post" action="/apis/s8" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="first">lower bound</label>
                      <input type="text" name="first" placeholder="lower bound" id="first">
										</div>
										<div class="field half">
                      <label for="second">upper bound</label>
                      <input type="text" name="second" placeholder="upper bound" id="second">
										</div>
									</div>
									<div class="fields">
										<div class="field half">
                      <label for="name">anime</label>
											<select name="name" id="name">
												<option value="">-</option>
												<%for(var i=0;i<1000;i++){%>
													<option value="<%=anime[i].name%>"><%=anime[i].name%></option>
						            <%}%>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==10){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s9">
								<h2 class="major">某集數分數前100名</h2>
								<form name="s9" method="post" action="/apis/s9" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="episode">number of episodes</label>
                      <input type="text" name="episode" placeholder="episodes" id="episode">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==11){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s10">
								<h3 class="major">計算季番(10<=集數<=14)與半年番與年番的平均分數</h3>
								<form name="s10" method="post" action="/apis/s10" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s11">
								<h2 class="major">某年代分數前10名</h2>
								<form name="s11" method="post" action="/apis/s11" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="years">years</label>
											<select name="years" id="years">
												<option value="">-</option>
												<option value="199">1990s</option>
												<option value="200">2000s</option>
												<option value="201">2010s</option>
												<option value="202">2020s</option>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==13){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s12">
								<h2 class="major">比較舊番與新番的平均分數</h2>
								<form name="s12" method="post" action="/apis/s12" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s13">
								<h2 class="major">給定年分與季節，輸出前十名的當季動畫</h2>
								<form name="s13" method="post" action="/apis/s13" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="year">years</label>
											<select name="year" id="year">
												<option value="">-</option>
												<%for(var i=2021;i>1916;i--){%>
													<option value=<%=i%>><%=i%></option>
												<%}%>
											</select>
										</div>
										<div class="field half">
                      <label for="season">season</label>
											<select name="season" id="season">
												<option value="">-</option>
												<option value="0">Spring</option>
												<option value="1">Summer</option>
												<option value="2">Autumn</option>
												<option value="3">Winter</option>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==15){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s14">
								<h2 class="major">不同工作室的平均分數排名</h2>
								<form name="s14" method="post" action="/apis/s14" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s15">
								<h3 class="major">給定歌手名字，搜尋有他唱的OP/ED的動畫</h3>
								<form name="s15" method="post" action="/apis/s15" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="name">singer</label>
                      <input type="text" name="name" placeholder="singer name" id="name">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==17){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s16">
								<h3 class="major">算出高分群、中分群、低分群人數</h3>
								<h3 class="major">用高分群分數-低分群分數，絕對值&gt;X就稱其為褒貶不一</h3>
								<form name="s16" method="post" action="/apis/s16" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="x">X</label>
                      <input type="text" name="x" placeholder="X" id="x">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==18){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s17">
								<h3 class="major">算出高分群、中分群、低分群人數，用人數計算所占比例</h3>
								<h3 class="major">依照高分群人數-低分群人數的大小排序</h3>
								<form name="s17" method="post" action="/apis/s17" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s18">
								<h4 class="major">選出年齡&gt;18而且評高分的動畫年分&lt;=2012的比例佔其全部動畫比例的5成</h4>
								<h4 class="major">我們稱這種人為舊番愛好者，檢查這些人對於年分&gt;=2017的動畫的平均分數</h4>
								<form name="s18" method="post" action="/apis/s18" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s19">
								<h3 class="major">通常原創的平均分數會&lt;漫改or輕改</h3>
								<h3 class="major">列出那些原創動畫，他們的分數&gt;漫輕改平均X分以上</h3>
								<form name="s19" method="post" action="/apis/s19" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="x">X</label>
                      <input type="text" name="x" placeholder="X" id="x">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==21){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s20">
								<h2 class="major">A與B的相關係數</h2>
								<form name="s20" method="post" action="/apis/s20" autocomplete="off">
									<div class="fields">
										<div class="field half">
											<label for="first">A</label>
											<select name="first" id="first">
												<option value="">-</option>
												<option value="Score">Score</option>
												<option value="Favorites">Favorites</option>
												<option value="Watching">Watching</option>
												<option value="Completed">Completed</option>
												<option value="On_Hold">On_Hold</option>
												<option value="Dropped">Dropped</option>
											</select>
										</div>
										<div class="field half">
											<label for="second">B</label>
											<select name="second" id="second">
												<option value="">-</option>
												<option value="Score">Score</option>
												<option value="Favorites">Favorites</option>
												<option value="Watching">Watching</option>
												<option value="Completed">Completed</option>
												<option value="On_Hold">On_Hold</option>
												<option value="Dropped">Dropped</option>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==22){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s21">
								<h2 class="major">我們將使用者的極端值，用Completed數(感覺可以多考慮dropped率)作為切分依據，然後對於某一部動畫，我們將這些人的評價篩選掉，重新計算分數作為校正分數</h2>
								<form name="s21" method="post" action="/apis/s21" autocomplete="off">
									<div class="fields">
										<div class="field half">
											<label for="name">anime</label>
											<select name="name" id="name">
												<option value="">-</option>
												<%for(var i=0;i<1000;i++){%>
													<option value="<%=anime[i].name%>"><%=anime[i].name%></option>
						            <%}%>
											</select>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==23){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s22">
								<h2 class="major">看每季(年?)某工作室的作品產量，比較產量多與少的時期的平均分數，驗證是否做的多品質就會下滑</h2>
								<form name="s22" method="post" action="/apis/s22" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="studio">studio</label>
                      <input type="text" name="studio" placeholder="studio" id="studio">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==24){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s23">
								<h2 class="major">Score高分但dropped rate高?</h2>
								<form name="s23" method="post" action="/apis/s23" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s24">
								<h2 class="major">涼宮春日真的引領了輕改動畫風潮嗎?</h2>
								<form name="s24" method="post" action="/apis/s24" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

							<article id="s25">
								<h2 class="major">J.C. staff的評價真的那麼糟嗎?</h2>
								<form name="s25" method="post" action="/apis/s25" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="studio">studio</label>
                      <input type="text" name="studio" placeholder="studio" id="studio">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==27){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s26">
								<h2 class="major">列出J.C. staff各年評價最好的動畫</h2>
								<form name="s26" method="post" action="/apis/s26" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="studio">studio</label>
                      <input type="text" name="studio" placeholder="studio" id="studio">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<li><a href="#search" class="button">back</a></li>
										<%if(errorType==28){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="s27">
								<h2 class="major">EVA真的是20世紀的最強動畫嗎?</h2>
								<form name="s27" method="post" action="/apis/s27" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" class="primary"></li>
										<li><a href="#search" class="button">back</a></li>
									</ul>
								</form>
							</article>

              <article id="signOut">
								<h2 class="major">sign out</h2>
                <p>Are you sure ?</p>
                <form name="signIn" method="post" action="/apis/signOut" autocomplete="off">
									<ul class="actions">
										<li><input type="submit" name='yes' value='Yes' class="primary"></li>
                    <li><input type="submit" name='no' value='No'></li>
									</ul>
								</form>
							</article>

					</div>
          <footer id="footer">
            <article id="recommendation" style="margin-top: 4rem;">
							<h2 class="major">recommendation</h2>
              <ul class="actions">
                <li><a href="#" class="button">home page</a></li>
              </ul>
							<%if(!recommendation){%>
								<p>no result</p>
							<%}else if(recommendation.length==0){%>
								<p>no result</p>
							<%}else{%>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr><th>anime</th><th>genre</th><th>score</th></tr>
										</thead>
										<tbody>
											<%for(var i=0;i<recommendation.length;i++){%>
												<tr>
													<td><%=recommendation[i].Japanese_name%></td>
													<td><%=recommendation[i].Genders%></td>
													<td><%=recommendation[i].Score%></td>
												</tr>
											<%}%>
										</tbody>
									</table>
								</div>
							<%}%>
						</article>
          </footer>

			</div>

			<div id="bg"></div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
